html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}
.container-fluid{
  background-color: #1a1a1a;
  margin: 0;
}
.picture-box{
width: 100%;
height: 100%;
}
.picture-box img{
width: 100%;
height: 100%;
font-size: 21px;
text-align: center;
-webkit-animation: fadein 4s;
}
@keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}
.aboutmecontent1 img{
position: sticky;
width: 380px;
height: 320px;
border-radius: 50%;
filter: grayscale(100%);
margin-top: 10%;
margin-bottom: 2%;
}
.picturetext1{
position: absolute;
top: 45%;
left: 50%;
transform: translate(-50%, -50%);
color: white;
font-size: 8em;
-webkit-animation: fadein 12s;
}
.picturetext2{
position: absolute;
top: 55%;
left: 50%;
transform: translate(-50%, -50%);
color: white;
font-size: 4em;
-webkit-animation: fadein 12s;
}
.aboutme{
  display: flex;
  background-color: #1a1a1a;
  width: 100%;
  justify-content: center;

}
.aboutmecontent1{
  width: 60%;
  text-align: center;
  color: white;
  font-size: 1.2em;
  padding-bottom: 245px;
}
.aboutmecontent1 h1{
  font-size: 4em;
  margin-bottom: 2%;
}
@media screen and (max-width: 768px) {
.picturetext1{
font-size: 5em;
}
.picturetext2{
font-size: 2em;
top: 50%;
}
}
@media screen and (max-width: 640px) {
  .aboutmecontent1 img{
  position: sticky;
  width: 300px;
  height: 260px;
  border-radius: 50%;
  filter: grayscale(100%);
  margin-top: 7%;
  margin-bottom: 5%;
}
@media screen and (max-width: 500px) {
.aboutmecontent1 img{
position: sticky;
width: 170px;
height: 140px;
border-radius: 50%;
filter: grayscale(100%);
margin-top: 7%;
margin-bottom: 5%;
}
.picturetext2{
font-size: 2em;
top: 53%;
}
.aboutmecontent1 p{
font-size: 0.7em;
}
.aboutmecontent1 h1{
  font-size: 2.5em;
}
}
@media screen and (max-width: 353px) {
.picturetext1{
font-size: 4em;
top: 50%;
}
.picturetext2{
font-size: 1.5em;
top: 56%;
}
}
